@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Lobster');


body {
	background-color: #51d0de;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px
}

h1, body {
	color: #bf4aa8;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 48px
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.centered-image {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;

}

#slogan {
	font-style: italic;
	font-weight: bold;
	color: white;
}